@use "@styles/_responsives" as responsives;

.arrow {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #ffffff00;
  height: 5.8rem;
  width: 5.8rem;
  top: 34%;
  z-index: 1000;
  left: 5%;
  background-image: url("~@images/prev-arrow.svg");
  background-size: contain;
  border: none;
  cursor: pointer;

  @include responsives.resolution__tablet {
    top: 87%;
    left: 30%;
    height: 3.5rem;
    width: 3.5rem;
  }

  @include responsives.resolution__mobile {
    left: 30%;
    top: 88%;
    height: 2.5rem;
    width: 2.5rem;
  }

  @include responsives.resolution__mobile__xxs {
    left: 26%;
  }
}
