@use "./_colors.scss";
@use "./_fonts.scss";

:root {
  --font-primary: #{fonts.$fontPrimary};
  --font-secondary: #{fonts.$fontSecondary};

  --color-white: #{colors.$colorWhite};
  --color-black: #{colors.$colorBlack};
  --color-gray: #{colors.$colorGray};
  --color-alpha: #{colors.$colorAlpha};
  --color-beta: #{colors.$colorBeta};
  --color-gamma: #{colors.$colorGamma};
  --color-delta: #{colors.$colorDelta};
  --color-epsilon: #{colors.$colorEpsilon};
  --color-zeta: #{colors.$colorZeta};
  --color-eta: #{colors.$colorEta};

  --gradient-alpha: #{colors.$gradientAlpha};
  --gradient-beta: #{colors.$gradientBeta};
  --gradient-gamma: #{colors.$gradientGamma};
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: var(--font-primary);
}

button {
  color: #ffffff;
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h6 {
  margin: 0;
  font-family: var(--font-secondary);
  font-weight: normal;
  padding: 0;
}

h1 {
  text-align: center;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

h3 {
  letter-spacing: 0.04rem;
  font-size: 1.875rem;
}

h5 {
  font-size: 1.35rem;
  font-weight: 500;
  margin: 0 0 0.8rem 0;
  letter-spacing: 0.115em;
  line-height: 1.625rem;
}

h6 {
  font-size: 1.875rem;
  line-height: 2rem;
  letter-spacing: 0.02rem;
}

p {
  color: #cdcdcd;
  line-height: 1.4375rem;
}

ul {
  font-family: var(--font-secondary);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.animatedHeader {
  view-transition-name: page-header;
}

.animatedContent {
  view-transition-name: page-content;
}

::view-transition-old(root) {
  animation: fade-and-scale-out 0.5s ease-in-out 1 forwards;
}

::view-transition-new(root) {
  animation: fade-and-scale-in 1s ease-in-out 1 forwards;
}

::view-transition-old(page-header) {
  animation: hide 1s ease-in-out 1 forwards;
}

::view-transition-new(page-header) {
  animation: slide-right 2s ease-in-out 1 forwards;
}

::view-transition-old(page-content) {
  animation: hide 1s ease-in-out 1 forwards;
}

::view-transition-new(page-content) {
  animation: slide-left 2.5s ease-in-out 1 forwards;
}

/* First Animation */

@keyframes fade-and-scale-in {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-and-scale-out {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}

/* Second Animation */

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
