@use "@styles/_responsives" as responsives;

.projects {
  padding-top: 2rem;
  height: 76.7vh;

  h1 {
    span {
      color: var(--color-beta);
    }
  }

  @include responsives.resolution__mobile {
    height: 80vh;
  }
}
