.contact {
  padding-top: 2rem;
  height: 76.7vh;

  .content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    text-align: center;

    p {
      font-size: 2rem;
    }

    .icons {
      gap: 6rem;

      img {
        height: 10rem;
        width: auto;
      }
    }
  }
}
