@use "@styles/_responsives" as responsives;

.contact {
  padding-top: 2rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    text-align: center;

    @include responsives.resolution__mobile {
      svg {
        width: 6rem;
        height: 6rem;
      }
    }

    p {
      font-size: 2rem;

      @include responsives.resolution__mobile__m {
        font-size: 1.5rem;
        line-height: 3rem;
      }
    }

    .mailIcon {
      &:hover {
        filter: drop-shadow(0 0 0.5rem var(--color-white));
        transform: scale(1.1);
        transform-origin: center;
      }
    }

    .icons {
      gap: 6rem;

      @include responsives.resolution__mobile {
        gap: 4rem;
      }

      @include responsives.resolution__mobile__xxs {
        gap: 2rem;
      }

      img {
        height: 10rem;
        width: auto;

        @include responsives.resolution__mobile {
          height: 6rem;
        }
      }
    }
  }
}
