@use "@styles/_responsives" as responsives;

.detailsImage {
  margin-bottom: 8rem;
  object-fit: cover;
  width: 23.75rem;
  height: 23.75rem;
  border-radius: 5%;

  @include responsives.resolution__laptop__xxs {
    margin-bottom: 1rem;
  }

  @include responsives.resolution__tablet {
    margin-bottom: 1rem;
    width: 19rem;
    height: 19rem;
  }

  @include responsives.resolution__mobile {
    width: 18rem;
    height: 18rem;
  }

  @include responsives.resolution__mobile {
    margin-bottom: 2rem;
    width: 14rem;
    height: 14rem;
  }

  &.secondClass {
    object-fit: contain;
    background-color: var(--color-white);
  }

  &:hover {
    transform: scale(1.01);
  }
}
