@use "@styles/_responsives" as responsives;

.detailsText {
  margin-bottom: 1.5rem;
  width: 11.375rem;

  @include responsives.resolution__mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .name {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 107%;
    letter-spacing: 0.0375rem;
    margin: 0 0 0.5rem 0;
    color: var(--color-white);

    @include responsives.resolution__laptop__m {
      font-size: 1.75rem;
      margin-bottom: 0.2rem;
    }

    @include responsives.resolution__mobile {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }

  .description,
  .role {
    @include responsives.resolution__mobile {
      font-size: 0.75rem;
      width: 14rem;
      text-align: center;
    }
  }

  .description {
    font-size: 0.8rem;
    line-height: 145%;
    margin: 0;
    color: var(--color-white);
  }

  .role {
    margin: 0.3rem 0 0 0;
    color: var(--color-white);
    font-size: 0.8rem;
  }
}
