@use "@styles/_responsives" as responsives;

.projectDetails {
  width: 47.25rem;
  height: 33rem;
  background: linear-gradient(
    180deg,
    #d9d9d9 0%,
    rgba(217, 217, 217, 0) 100%,
    0.10000000149011612
  );
  display: flex;
  align-items: flex-end;
  padding-top: 2rem;

  .text {
    margin-bottom: 1.5rem;
    width: 11.375rem;

    .name {
      font-family: var(--font-secondary);
      font-size: 1.5rem;
      text-transform: capitalize;
      line-height: 107%;
      letter-spacing: 0.0375rem;
      margin: 0 0 0.5rem 0;
      color: var(--color-white);

      @include responsives.resolution__laptop__m {
        font-size: 1.75rem;
        margin-bottom: 0.2rem;
      }

      @include responsives.resolution__mobile__m {
        margin-top: -30vw;
      }

      @include responsives.resolution__mobile {
        margin-top: -34vw;
      }

      @include responsives.resolution__mobile__s {
        margin-top: -10.8rem;
      }
    }

    .description {
      font-size: 0.8rem;
      line-height: 145%;
      margin: 0;

      color: var(--color-white);
    }

    .role {
      margin: 0.3rem 0 0 0;
      color: var(--color-white);
      font-size: 0.8rem;
    }
  }

  .image {
    margin-bottom: 8rem;
    object-fit: cover;
    width: 23.75rem;
    height: 23.75rem;
    border-radius: 5%;

    &.secondClass {
      object-fit: contain;
      background-color: var(--color-white);
    }

    &:hover {
      transform: scale(1.01);
    }
  }
}
