@use "@styles/_responsives" as responsives;

.projectDetails {
  width: 47.25rem;
  height: 33rem;
  background: linear-gradient(
    180deg,
    #d9d9d9 0%,
    rgba(217, 217, 217, 0) 100%,
    0.10000000149011612
  );
  display: flex;
  align-items: flex-end;
  padding-top: 2rem;

  @include responsives.resolution__laptop__xxs {
    flex-direction: column;
    align-items: center;
  }

  @include responsives.resolution__mobile__l {
    width: 70vh;
  }

  @include responsives.resolution__mobile {
    width: 50vh;
  }

  @include responsives.resolution__mobile__s {
    width: 30vh;
  }

  .bottom {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @include responsives.resolution__mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  .buttons {
    width: 11.214rem;
  }
}
