@use "@styles/_responsives" as responsives;

.home {
  padding-top: 2rem;
  height: 76.7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include responsives.resolution__laptop__s {
    height: auto;
  }

  h1 {
    @include responsives.resolution__mobile__s {
      font-size: 1.5rem;
    }
  }

  .top {
    .content {
      display: flex;
      justify-content: space-between;

      @include responsives.resolution__laptop__s {
        flex-direction: column;
        align-items: center;
      }

      .leftSection {
        .text {
          display: flex;
          flex-direction: column;

          .square {
            max-width: 23em;

            &.border {
              border-bottom: 0.25rem solid var(--color-beta);
            }

            p {
              font-size: 1.25rem;
              letter-spacing: 0.05rem;
              line-height: 1.5rem;
              margin: 0.875rem 0;

              @include responsives.resolution__mobile__s {
                font-size: 1rem;
              }
            }

            &.firstParagraph,
            &.lastParagraph {
              &:hover {
                transform: scale(1.1);

                @include responsives.resolution__mobile__s {
                  transform: scale(1);
                }
              }
            }

            &.firstParagraph {
              p {
                margin-top: 0;
              }
            }

            &.middleParagraphs {
              &:hover {
                transform: translateX(1rem);

                @include responsives.resolution__mobile__s {
                  transform: translateX(0);
                }
              }
            }

            &.lastParagraph {
              p {
                margin-bottom: 0;
              }
            }
          }
        }

        @include responsives.resolution__laptop__s {
          margin-bottom: 4rem;
        }
      }

      .rightSection {
        position: relative;

        @include responsives.resolution__laptop__s {
          margin-bottom: 4rem;
        }

        .photo {
          position: relative;
          z-index: 10;
          padding-right: 5rem;

          @include responsives.resolution__laptop__s {
            padding-right: 0;
          }
        }

        .orangeRectangle,
        .whiteRectangle {
          width: 25rem;
          height: 15rem;
          position: absolute;

          @include responsives.resolution__mobile__m {
            width: 9.375rem;
            height: 5.625rem;
          }
        }

        .orangeRectangle {
          background-color: var(--color-beta);
          top: 0;
          left: 12%;
          z-index: 1;
          border-radius: 15%;
          transform: rotate(10deg);
        }

        .whiteRectangle {
          background-color: var(--color-white);
          top: 44%;
          left: -5%;
          z-index: 0;
          border-radius: 10%;
          transform: rotate(-5deg);
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: flex-end;

    @include responsives.resolution__laptop__s {
      justify-content: center;
    }

    p {
      font-style: italic;
      margin-top: 0;
      font-size: 0.875rem;

      @include responsives.resolution__mobile__s {
        font-size: 0.75rem;
      }
    }

    .code {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin-top: 1rem;
      gap: 1rem;

      p {
        margin-bottom: 0.2rem;
        font-size: 0.875rem;

        @include responsives.resolution__mobile__s {
          font-size: 0.75rem;
        }
      }

      a {
        &:hover {
          transform: scale(1.1);

          @include responsives.resolution__mobile__s {
            transform: scale(1);
          }
        }

        svg {
          height: 2rem;
          width: 2rem;

          @include responsives.resolution__mobile__s {
            height: 1.5rem;
            width: 1.5rem;
          }
        }
      }
    }
  }
}
