.home {
  padding-top: 2rem;
  height: 76.7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top {
    .content {
      display: flex;
      justify-content: space-between;

      .leftSection {
        .text {
          display: flex;
          flex-direction: column;

          .square {
            width: 23em;

            &.border {
              border-bottom: 0.25rem solid var(--color-beta);
            }

            p {
              font-size: 1.25rem;
              letter-spacing: 0.05rem;
              line-height: 1.5rem;
              margin: 0.875rem 0;
            }

            &.firstParagraph,
            &.lastParagraph {
              &:hover {
                transform: scale(1.1);
              }
            }

            &.firstParagraph {
              p {
                margin-top: 0;
              }
            }

            &.middleParagraphs {
              &:hover {
                transform: translateX(1rem);
              }
            }

            &.lastParagraph {
              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .rightSection {
        position: relative;

        .photo {
          position: relative;
          z-index: 10;
          padding-right: 5rem;
        }

        .orangeRectangle {
          background-color: var(--color-beta);
          width: 25rem;
          height: 15rem;
          position: absolute;
          top: 0;
          left: 12%;
          z-index: 1;
          border-radius: 15%;
          transform: rotate(10deg);
        }

        .whiteRectangle {
          background-color: var(--color-white);
          width: 25rem;
          height: 15rem;
          position: absolute;
          top: 44%;
          left: -5%;
          z-index: 0;
          border-radius: 10%;
          transform: rotate(-5deg);
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: flex-end;

    p {
      font-style: italic;
      margin-top: 0;
    }

    .code {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 1rem;

      p {
        margin-bottom: 0.2rem;
      }

      a {
        &:hover {
          transform: scale(1.1);
          transform-origin: center;
        }
      }
    }
  }
}
