@use "@styles/_responsives" as responsives;

.arrow {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #ffffff00;
  height: 5.8rem;
  width: 5.8rem;
  z-index: 1000;
  background-image: url("~@images/next-arrow.svg");
  border: none;
  cursor: pointer;
  background-size: contain;
  top: 35%;
  right: 5%;

  @include responsives.resolution__tablet {
    top: 82%;
    right: 33%;
    height: 4rem;
    width: 4rem;
  }

  @include responsives.resolution__mobile {
    top: 84%;
    right: 30%;
    height: 3rem;
    width: 3rem;
  }

  @include responsives.resolution__mobile__xxs {
    right: 25%;
  }
}
