@use "@styles/_responsives" as responsives;

.projectsSlider {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-bottom: 3.12rem;

  h3 {
    font-size: 1.5rem;
    line-height: 2.8125rem;
    margin-bottom: 1rem;

    @include responsives.resolution__tablet {
      font-size: 2.1875rem;
      margin-bottom: 1.5rem;
    }

    @include responsives.resolution__mobile__s {
      font-size: 1.75rem;
    }
  }

  .slider {
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.10000000149011612;
      background: linear-gradient(
        0deg,
        #d9d9d9 0%,
        rgba(217, 217, 217, 0) 100%
      );
    }

    > div {
      > div {
        > div {
          > div {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}
