.skills {
  ul {
    list-style: none;
    height: 20rem;
    width: 42.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 2rem;

    li {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 1rem;
    }
  }
}
