.navList {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.9375rem;
    text-transform: uppercase;
    justify-content: flex-end;
  }

  a {
    text-decoration: none;
    color: #ffffff;

    &:hover,
    &.active {
      color: var(--color-beta);
    }

    &.disabled {
      pointer-events: none;
      color: var(--color-gray);
    }
  }
}
